/* Carol: alterei a posicao para alinhar com a largura da tela
.container {
    position: relative;
    color: white;
}*/

* { margin: 0; padding: 0; }

.container {
    position: relative;
    color: white;
    left:0em;;
    width: 100%;

    background-color: aqua;
}

.FotoTopo{
/*
    position: absolute;
    width: 100%;
    height: auto;
    margin: auto;
    left:0px;*/

    /* Carol: alterei a posicao para alinhar com a largura da tela
    position: relative;
    width: 100%;
    height: 28em;*/ 

    position: relative;
    width: 100%;
    left:0px;
    margin: 0;
    padding: 0;
    /*height: 28em;*/
    
}

.FraseTopo{

   /* position: absolute;
    width: 80%;         
    height: auto;
    

    font-family: Arial;
    font-weight: 900;
    font-size: 2em;
    color: rgb(248, 248, 248);

    text-align: left;
    */

    position: absolute;
    width: 11em;
    height: 5em;
    bottom: -1.5em;
    left: 1.5em;

    font-family: Arial;
    font-weight: 900;
    font-size: 3em;
    color: #ffffff;

    text-align: left;

    margin: 0;
    padding: 0;

}

.Degrade{
/*
    position: absolute;
    width: 100%;
    height: 5em;
    top: 17em;

    background-image: linear-gradient(transparent, #780000);
*/

position: absolute;
width: 100%;
height: 8em;
bottom: 0em;
left:0em;

background-image: linear-gradient(transparent, #780000);

}